/* Common elements */
TEXTAREA, INPUT[type="password"], INPUT[type="text"] {
  border: 1px solid #dddddd;
}

TEXTAREA:focus, INPUT[type="password"]:focus, INPUT[type="text"]:focus {
  border: 1px solid lightblue;
  outline: 1px;
}

INPUT[type="password"]:focus {
  background-color: pink;
  border-color: black;
  color: red;
}

/* Note listings */
#listing-container {
  margin-bottom: 10px;
}

#listing {
  border-bottom: 1px solid #dddddd;
}

/* Note content and form */
#content {
  height: 90%;
  left: 0;
  margin: 6px;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 99%;
}

#content TEXTAREA {
  height: 85%;
  overflow: auto;
  width: 100%;
}

#content LABEL {
  font-weight: bold;
}

#tags {
  margin-top: 6px;
  width: 50%;
}

/* Buttons */
#buttons {
  bottom: 0;
  left: 0;
  margin: 4px;
  position: absolute;
}

/* Search */
#search {
  opacity: 75%;
  padding: 2px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
}

#search INPUT {
  border: none;
  outline: none;
  padding: 1px;
  width: 350px;
  font-size: 110%;
}

/* Password dialog */
#password-dialog {
  left: 200px;
  position: absolute;
  height: 40px;
  top: 290px;
  width: 300px;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
}

#password-dialog INPUT {
  border: none;
  color: red;
  font-size: 150%;
  outline: none;
  padding: 4px;
  width: 300px;
}

/* Generic classes */
.hidden {
  display: none;
}
