<div class="tab-pane fade active in" id="<%= note.uid %>">
  <div class="control-group"></div>
  <form class="form-inline">
    <div class="input-prepend subject">
      <span class="add-on">Subject</span>
      <input class="span6" type="text" placeholder="Subject"
             value="<%= note.subject %>" />
    </div>
    <div class="input-prepend tags">
      <span class="add-on">Tags</span>
      <input class="span4" type="text" placeholder="Tags"
             value="<%= note.tags %>" />
    </div>
    <div class="input-append password">
      <input class="span2" type="password" placeholder="Password"
             value="<%= note.password %>" />
      <span class="add-on">Password</span>
    </div>
    <button class="btn btn-inverse pull-right close-button">Close</button>
    <pre class="editor"></pre>
    <div class="control-group">
      <button class="btn btn-small save">Save this note</button>
      <button class="btn btn-small save-close">Save and close this note</button>
      <button class="btn btn-small btn-danger delete">Delete this note</button>
    </div>
  </form>
</div>
