.form-search input {
  position: absolute;
  right: -450px;
  top: 3px;
  width: 400px;
}

.CodeMirror {
  border: 1px solid #dddddd;
  margin-bottom: 10px;
}

.CodeMirror-scroll {
  overflow-x: scroll;
  overflow-y: scroll;
}

.editor {
  margin-top: 12px;
}

.note-row:hover {
  cursor: pointer;
}

td.selector {
  border-left-width: 3px;
}

td.selector.selected {
  border-left-color: #4d90f0;
}
