.form-search input {
  position: absolute;
  right: -450px;
  top: 3px;
  width: 400px;
}

.CodeMirror {
  border: 1px solid #dddddd;
  height: auto;
  margin-bottom: 10px;
}

.editor {
  margin-top: 12px;
}

.note-row:hover {
  cursor: pointer;
}
