/* Don't let the search box cause a horizontal scroll */
body {
  overflow-x: hidden;
}

.form-search input {
  position: absolute;
  right: -450px;
  top: 3px;
  width: 400px;
}

.editor {
  margin-top: 12px;
}

.note-row:hover {
  cursor: pointer;
}

td.selector {
  border-left-width: 3px;
}

td.selector.selected {
  border-left-color: #4d90f0;
}
