/* Note listings */
#listing-container {
  margin-bottom: 10px;
}

/* Note content and form */
#content TEXTAREA {
  border: 1px solid #dddddd;
  height: 300px;
  width: 100%;
}

#content LABEL {
  font-weight: bold;
}

#tags {
  margin-top: 6px;
  width: 50%;
}

/* Search */
#search {
  opacity: 0.5;
  margin-right: 35px;
  margin-top: 15px;
  padding: 2px;
  position: absolute;
  right: 0px;
  top: 0px;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
}

#search INPUT {
  border: none;
  outline: none;
  padding: 1px;
  width: 350px;
  font-size: 110%;
}

/* Password dialog */
#password-dialog {
  left: 200px;
  position: absolute;
  height: 40px;
  top: 290px;
  width: 300px;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
}

#password-dialog INPUT {
  border: none;
  color: red;
  font-size: 150%;
  outline: none;
  padding: 4px;
  width: 300px;
}

/* Generic classes */
.hidden {
  display: none;
}


