<div class="modal fade" id="password-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Usage</h3>
      </div>
      <div class="modal-body">
        <h4>Keyboard commands</h4>
        <div class="row">
          <div class="col-lg-6">Usage/help</div>
          <div class="col-lg-1"><code>?</code></div>
        </div>
        <div class="row">
          <div class="col-lg-6">Create note</div>
          <div class="col-lg-1"><code>CTRL+c</code></div>
        </div>
        <div class="row">
          <div class="col-lg-6">Save note</div>
          <div class="col-lg-1"><code>CTRL+s</code></div>
        </div>
        <div class="row">
          <div class="col-lg-6">Search</div>
          <div class="col-lg-1"><code>/</code></div>
        </div>
        <div class="row">
          <div class="col-lg-6">Previous note (search results)</div>
          <div class="col-lg-1"><code>CTRL+k</code></div>
        </div>
        <div class="row">
          <div class="col-lg-6">Next note (search results)</div>
          <div class="col-lg-1"><code>CTRL+j</code></div>
        </div>

        <div class="col-xs-12" style="height:50px;"></div>

        <h4>Release details</h4>
        <div id="version-info"></div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Close</a>
      </div>
    </div>
  </div>
</div>
